.pname{
    font-weight: 600;
    font-family: titillium web,sans-serif; 
    font-size: 24px !important; 
    color: blue;
    padding-left: 11px;    

}
.description {
      
    font-size: 1.3rem;
    text-align: left;
}

.icon-blog-card{
    font-size: 1.0rem;
    margin-top: 2px;
}
.price{
    font-size: 18px;
    color: #6cbf6c;
}

.link{
    text-decoration: none;
    color: white;
    text-align: right;
    font-size: 12px;
}

.category{
    text-decoration: none;
    color: green;
    text-align: left;
    font-size: 16px;
}

.delete{
    font-size: 16px;
    color: red;
    text-align: center;
}

.psum{
    font-size: 20px;
    color: black;
    text-align: right;
}
.pm{
    font-size: 20px;
    color: white;
    text-align: right;
}